* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    height: 70px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

section {
    padding: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 140px;
    padding: 20px;
    box-shadow: 0px -2.9825px 7.4564px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
}

.gray {
    color: #918e9b;
}

.bold {
    font-weight: bold;
}

.nav-logo {
    max-width: 100px;
}

.hero {
    display: flex;
    padding: 50px;
    flex-direction: column;
}

.hero-img {
    max-width: 800px;
    align-self: center;
}

.hero-title {
    margin-bottom: 16px;
}

.hero-msg {
    margin-top: 0;
}

.cards-list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    overflow-x: auto;
    justify-content: center;
}

.card {
    width: 175px;
    font-size: 12px;
    flex-direction: column;
    margin-left: 30px;
    flex: 0 0 auto;
    display: flex;
    position: relative;
}

.card-img {
    width: 100%;
    border-radius: 5%;
    margin-bottom: 9px;
}

.card-title{
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-stats {
    display: flex;
    align-items: center;
}

.card-star {
    height: 14px;
}

.card-price {
    margin-top: auto;
}

.card-badge {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: white;
    padding: 5px 7px;
    border-radius: 2px;
    font-weight: bold;
}